<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello Customer!</title>
  </head>
  <body>
    <h1>Car selections</h1>

    <form action="/items" method="post">
      <label for="description">Add a new car</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
